<mat-form-field>
    <mat-label>Interpretation:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Test Group ID:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Test Group Version:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Test ID:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Test Version:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Context</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Sequence:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Name:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Description:</mat-label>
    <textarea matInput></textarea>
</mat-form-field>
<mat-form-field>
    <mat-label>Mneumonic ID:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Analyte:</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Value Data Type:</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Picklist ID:</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Organism Mod:</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Default Value:</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
</mat-form-field>

<section class="example-section">
    <mat-checkbox class="example-margin">Required</mat-checkbox>
</section>
<section class="example-section">
    <mat-checkbox color='primary' class="example-margin">Reportable</mat-checkbox>
</section>
<section class="example-section">
    <mat-checkbox color='primary' class="example-margin">Value array size is variable</mat-checkbox>
</section>
<section class="example-section">
    <mat-checkbox color='primary' class="example-margin">Use for Counts</mat-checkbox>
</section>
<section class="example-section">
    <mat-checkbox color='primary' class="example-margin">Default Array Size</mat-checkbox>
</section>
<section class="example-section">
    <mat-checkbox color='primary' class="example-margin">Abnormal result suffiencient to report specimen as abnormal</mat-checkbox>
</section>