<div *ngIf="isLoggedIn">
  <mat-toolbar color="primary">
    <div class="left-container">
      <img src="assets/nygov-logo.png" alt="Logo" class="logo-img">
      <span>Angular Shell App</span>
    </div>
    
    <span class="example-spacer"></span>
    <div class="right-container">
      <span><a routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">Test</a></span>
      <span><a routerLink="/testgroup" routerLinkActive="active" ariaCurrentWhenActive="page">Test Group</a></span>
      <span><a routerLink="/instrument" routerLinkActive="active" ariaCurrentWhenActive="page">Instrument</a></span>
      <span><a routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page">LOGOUT</a></span>
    </div>
  </mat-toolbar>
  <!-- <app-icon-bar></app-icon-bar> -->
</div>

<!-- User is not logged in, so they can only access the login link-->
<div *ngIf="!isLoggedIn">
  <mat-toolbar color="primary">
    <div class="left-container">
      <img src="assets/nygov-logo.png" alt="Logo" class="logo-img">
      <span>Angular Shell App</span>
    </div>
    
    <span class="example-spacer"></span>
    <div class="right-container">
      <span><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></span>
    </div>
  </mat-toolbar>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>