<!-- NavBar  -->
<!-- Attempt to separate components but I can't find a workaround that changes the tree state and renders it correctly
  <app-icon-bar 
  [deleteSelectedTest]="deleteSelectedTest" /> -->
<div class="icon-bar">
  <a href="#" title="Open folder"><i class="fa-solid fa-folder-open"></i></a>
  <a href="javascript:window.location.reload(true)" title="Refresh page"><i class="fa-solid fa-arrows-rotate"></i></a> <!-- Refresh Page -->
  <button name="delete" (click)="confirmDeleteAction()"><i class="fa-solid fa-trash-can"></i></button> <!-- Delete -->
  <button name="cut" (click)="confirmCutAction()"><i class="fa-solid fa-scissors"></i></button> <!-- Cut -->
  <button name="copy" (click)="copySelectedTest()"><i class="fa-regular fa-clipboard"></i></button> <!-- Copy -->
  <a href="#" title="Undo operation"><i class="fa-solid fa-reply"></i></a> <!-- Undo -->
  <!-- <a href="#" title="Save"><i class="fa-solid fa-floppy-disk"></i></a> Save -->
  <button name="save"><i class="fa-solid fa-floppy-disk"></i></button> <!-- Save -->

  <a href="#" title="View Test Group it belongs to"><i class="fa-solid fa-eye"></i></a> <!-- View test group that owns the test -->
  <a href="#" title="Version selected"><i class="fa-solid fa-circle-up"></i></a> <!-- Version -->
  <a href="/newtestgroup" title="New Test Group"><i class="fa-solid fa-flask"></i></a> <!-- Create Test Group -->
  <a href="/newtest" title="New Test"><i class="fa-solid fa-vial"></i></a> <!-- Create Test -->
  <a href="/newinterp" title="New Interp"><i class="fa-solid fa-hashtag"></i></a> <!-- Create Interp -->
  <a href="/newinterppattern" title="New Interp Pattern Set"><i class="fa-solid fa-file-powerpoint"></i></a> <!-- Create Interp Pattern Set-->
  <a href="/newcontrol" title="New Control Type"><i class="fa-solid fa-droplet"></i></a> <!-- Create Control Type -->
  <a href="/newsupply" title="New Supply"><i class="fa-solid fa-bucket"></i></a> <!-- Create Supply -->
  <a href="/newsupplycontrol" title="New Supply Control Type"><i class="fa-solid fa-fill-drip"></i></a> <!-- Create Supply Control Type -->
  <a href="/newanalyte" title="New Analyte"><i class="fa-solid fa-ring"></i></a> <!-- Create Analyte -->
  <a href="/newmethod" title="New Method"><i class="fa-solid fa-briefcase"></i></a> <!-- Create Method -->

  <a href="#" title="Promote to Prod"><i class="fa-solid fa-paper-plane"></i> </a><!-- Send to prod -->

  <a href="#" title="BOO"><i class="fa-solid fa-ghost"></i></a>
</div>
<!-- Choose LAB -->
<div>
  <mat-form-field appearance="fill">
    <mat-label>Lab:</mat-label>
    <mat-select (selectionChange)="onSelectOption($event)" name="option">
        <mat-option *ngFor="let option of labs" [value]="option">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <p><b>Selected option: {{ currLab }}</b></p> 
</div>
<input type="text" placeholder="Filter by test" #filter>
<button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
<mat-form-field>
  <mat-label>Sort Tests:</mat-label>
  <mat-select (selectionChange)="sortTests(sortSelect)" [(value)]="sortSelect" placeholder="Catagory">
  <mat-option [value]="">None</mat-option>
  <mat-option *ngFor="let sortBy of sortBys" [value]="sortBy.sort_id">{{sortBy.description}}</mat-option>
  </mat-select>
</mat-form-field>
<br /><br />
<mat-grid-list cols="2" rowHeight="2:1">
  <!-- Form Section -->
  <mat-grid-tile colspan="1" rowspan="2" class="custom-tile">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
              <label class="labl">
                <input type="radio" name="radioname" value="one_value" />
                <div (click)="testSelected(node.name)">{{node.name}} </div>
                </label>
            <button class="btn" (click)="moveUp()"><i class="fa-solid fa-up-long icon"></i></button> 
            <button class="btn" (click)="moveDown()"><i class="fa-solid fa-down-long icon"></i></button>
            <!-- <button class="btn"><i class="fa-solid fa-pen-to-square icon"></i></button> -->
            <!-- <button name="delete" (click)="deleteSelectedTest()"><i class="fa-solid fa-trash-can"></i></button> -->
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}} 
            </mat-icon>
          </button>
          <label class="labl">
            <input type="radio" name="radioname" value="one_value" />
            <!-- WARNING: confusing. So there's if elses checking that status, then within each of those there's an ifelse checking the search -->
            <!-- <div (click)="testSelected(node.name)" *ngIf="foundTest === node.name">{{node.name}} </div> -->
            <ng-container *ngIf="node.status === 'MIGRATED';else second">
                <div *ngIf="foundTest.includes(node.name);then content else other_content">Here is ignored</div>
                  <ng-template #content><div (click)="testSelected(node.name)"><span style="background-color: #FFFF00">{{node.name}}</span></div></ng-template>
                  <ng-template #other_content><div (click)="testSelected(node.name)">{{node.name}}</div></ng-template>
            </ng-container>
            <ng-template #second>
                <ng-container *ngIf="node.status === 'PENDING';else third">
                  <div *ngIf="foundTest.includes(node.name);then content else other_content">Here is ignored</div>
                    <ng-template #content><div (click)="testSelected(node.name)"><span style="background-color: #FFFF00">{{node.name}}</span></div></ng-template>
                    <ng-template #other_content><div style="color:orange" (click)="testSelected(node.name)">{{node.name}}</div></ng-template>
                </ng-container>
            </ng-template>
            <ng-template #third>
              <ng-container *ngIf="node.status === 'READY';else fourth">
                <div *ngIf="foundTest.includes(node.name);then content else other_content">Here is ignored</div>
                    <ng-template #content><div (click)="testSelected(node.name)"><span style="background-color: #FFFF00">{{node.name}}</span></div></ng-template>
                    <ng-template #other_content><div style="color:blue" (click)="testSelected(node.name)">{{node.name}}</div></ng-template>
              </ng-container>
            </ng-template>
            <ng-template #fourth>
              <ng-container *ngIf="node.status === 'FINAL' ">
                <div *ngIf="foundTest.includes(node.name);then content else other_content">Here is ignored</div>
                    <ng-template #content><div (click)="testSelected(node.name)"><span style="background-color: #FFFF00">{{node.name}}</span></div></ng-template>
                    <ng-template #other_content><div style="color:yellowgreen" (click)="testSelected(node.name)">{{node.name}}</div></ng-template>
              </ng-container>
            </ng-template>
            <!-- <div *ngIf="foundTest.includes(node.name);then content else other_content">Here is ignored</div>
            <ng-template #content><div (click)="testSelected(node.name)"><span style="background-color: #FFFF00">{{node.name}}</span></div></ng-template>
            <ng-template #other_content><div (click)="testSelected(node.name)">{{node.name}}</div></ng-template> -->
          </label>
        </mat-tree-node>
    </mat-tree>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2">
    <div *ngIf="chosenTest()">
      <app-test-view />
    </div>
  </mat-grid-tile>
</mat-grid-list>